* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1440px;
}

header {
  margin: 40px 77px;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  margin-bottom: 200px;
}
main {
  display: flex;
  margin: 0 77px;
  justify-content: space-around;
  align-items: center;
  font-family: "Space Mono", monospace;
  color: #333333;
}
.image img {
  width: 539px;
  margin-right: 118px;
}

.description h1 {
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  margin-bottom: 36px;
}

.description p {
  width: 381px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin-bottom: 64px;
}

.description button {
  height: 68px;
  background-color: #333333;
  color: #fff;
  padding: 24px 43px;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 293px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  header {
    margin: 24px 20px;
    margin-bottom: 109px;
  }
  main {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .image img {
    width: 100%;
    max-width: 286px;
    margin-right: 0;
  }
  .description {
    margin-left: 18px;
    margin-right: 10px;
    width: 100%;
    margin-top: 60px;
  }
  .description h1 {
    font-size: 48px;
    line-height: 71px;
  }
  .description p {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
  }
  .description button {
    margin-top: 67px;
  }
}
